<div class="post-view">
    <p>{{postData.title}}</p>
    <p>{{postData.content}}</p>
    <p id="post-id">{{postData.id}}</p>
    <a id="edit-btn">Edit</a>
    <a id="delete-btn">Delete</a>
</div>
<div class="edit-container"></div>

<script src ="../js/delete.js"></script>
<script src ="../js/update.js"></script>
