<div class="post-view">
    <p id="post-title-2">Title: {{postData.title}}</p>
    <p id="post-content-2">Content: {{postData.content}}</p>
    <p id="post-id">{{postData.id}}</p>
    <div class="post-buttons-2">
    <a id="edit-btn">Edit</a>
    <a id="delete-btn">Delete</a>
    </div>
</div>
<div class="edit-container"></div>

<script src ="../js/delete.js"></script>
<script src ="../js/update.js"></script>
